In [1]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np

In [ ]:
class RegressionNet(nn.Module):
    def __init__(self):
        super(RegressionNet, self).__init__()

        self.linear1 = nn.Linear()
        self.linear2 = nn.Linear()
        self.linear3 = nn.Linear()
        self.criterion
        self.optimizer
        self.lr
        self.model

    def forward(self, x):
        x = torch.relu(self.linear1(x))
        x = torch.relu(self.linear2(x))
        output = self.linear3(x)
        return output
    
    def lossFunc(self, lr, model):
        self.lr = lr
        self.criterion = nn.MSELoss()
        self.optimizer = optim.Adam(model.paramters(), lr = lr)

In [ ]:
model = RegressionNet()
model.lossFunc(lr=1e-2, model=model)

In [ ]:
def training_loop(epoch):
    for epochs in range(epoch):
        model.train()
        model.optimizer.zero_grad()
        y_pred = model(X_train)
        loss = model.criterion(y_pred, y_train)
        
        loss.backward()
        model.optimizer.step()

        if (epochs + 1) % 50 == 0:
            print(f"Epoch [{epochs + 1} / {epoch}], Loss: {loss.item():.4f}")

In [7]:
# dataset
import pandas as pd

df = pd.read_csv("./dataset/Bithumb_BTCKRW_d.csv")

In [8]:
df.head(5)

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume BTC,Volume KRW
0,1.605830e+09,2020-11-20,BTCKRW,19799000,20151000,19753000,20072000,1249.42,2.497931e+10
1,1.605744e+09,2020-11-19,BTCKRW,19713000,20026000,19379000,19799000,4439.00,8.779461e+10
2,1.605658e+09,2020-11-18,BTCKRW,19350000,20300000,19058000,19713000,7801.08,1.538430e+11
3,1.605571e+09,2020-11-17,BTCKRW,18264000,19411000,18179000,19350000,4521.85,8.475582e+10
4,1.605485e+09,2020-11-16,BTCKRW,17679000,18440000,17560000,18264000,3595.27,6.477332e+10

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unix Timestamp  1267 non-null   float64
 1   Date            1267 non-null   object
 2   Symbol          1267 non-null   object
 3   Open            1267 non-null   int64
 4   High            1267 non-null   int64
 5   Low             1267 non-null   int64
 6   Close           1267 non-null   int64
 7   Volume BTC      1267 non-null   float64
 8   Volume KRW      1267 non-null   float64
dtypes: float64(3), int64(4), object(2)
memory usage: 89.2+ KB

In [12]:
df.drop(axis=1, columns = ["Unix Timestamp", "Symbol", "Open", "High", "Low", "Volume BTC", "Volume KRW"], inplace=True)

In [13]:
df

            Date     Close
0     2020-11-20  20072000
1     2020-11-19  19799000
2     2020-11-18  19713000
3     2020-11-17  19350000
4     2020-11-16  18264000
...          ...       ...
1262  2017-05-26   3227000
1263  2017-05-25   4199000
1264  2017-05-24   4175000
1265  2017-05-23   3206000
1266  2017-05-22   3104000

[1267 rows x 2 columns]